.banner-body{
    background-image:url('https://i.ibb.co/BT55j09/Rectangle-4281.png'),linear-gradient(rgba(255, 255, 255, 0.95),rgba(255, 255, 255, 0.95));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
}